body {
    padding-top: 50px;
	background-image:url(header.png);
}

footer {
    padding: 20px;
	background-image:url(back2.png);
}

main{
	padding:20px;
	background-image:url(header.png);
}
header{
	background-image:url(back2.png);
}
